
<div class="row">
    <div class="col-lg-12">
        <h1 id="performers">{%t menu.performers %}</h1>
    </div>
</div>

{% if site.performances.size > 0 %}
    <div class="row row-equal-height">
        {% assign performances = site.performances | sort: 'start' %}
        {% for performer in performances %}
        {% capture index %}{% cycle performances: 'one', 'two', 'three' %}{% endcapture %}

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-schedule">
            <h4 class="text-center">
                <a href="{{ site.baseurl | append:performer.url }}" data-toggle="modal" data-target="#modal-details">
                    {% t performer.name %}</a>
            </h4>
            {% capture ticket_url %}{% t performer.ticket_url %}{% endcapture %}
            <a href="{{ site.baseurl | append:performer.url }}" data-toggle="modal" data-ticket-url="{{ ticket_url}}" data-target="#modal-details">
                <div class="image-container">
                    {% capture alt %}{% t performer.name %}{% endcapture %}

                    <picture class="img-responsive center-block b-lazy">
                        <source srcset="{% asset "{{ performer.image | replace: 'square', 'wide' }}" @path %}" media="(max-width: 768px)" />
                        <source srcset="{% asset "{{ performer.image }}" @path %}" media="(min-width: 768px)" />
                        <img src="{% asset "{{ performer.image }}" @path %}" alt="{{ alt | escape }}" />
                    </picture>

                    <h3 {% unless performer.sold_out %}class="hidden"{% endunless %}>{% t content.sold_out %}</h3>
                </div>
            </a>
        </div>
        {% if index == 'three' %}
            </div>
            <div class="row row-equal-height row-buffer-top">
        {% endif %}
    {% endfor %}
</div>
{% else %}

<p>{% t content.no_info_yet %}</p>

{% endif %}
