<div class="row">
    <div class="col-lg-12">
        <h1 id="sponsors">{% t menu.sponsors %}</h1>
    </div>
</div>


{% if site.data.sponsors.size > 0 %}
{% assign rows_count = site.data.sponsors.size | divided_by: 4.0 | ceil %}
{% for i in (1..rows_count) %}
{% assign offset = forloop.index0 | times: 4 %}
<div class="row row-equal-height">

    {% for sponsor in site.data.sponsors limit:4 offset:offset %}
    <div class="col-xs-6 col-sm-4 col-lg-3 vertical-center">
        <a href="{{ sponsor.url }}" target="_blank">
            <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                 data-src="{% asset "{{ sponsor.logo }}" @path %}"
            alt="{{ sponsor.name }}"
            title="{{ sponsor.name }}"
            class="b-lazy img-rounded img-grayscale img-padded img-responsive" />
        </a>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% else %}
<p>{% t content.no_info_yet %}</p>
{% endif %}
</div>
